

.force-play {
    border: none;
    color: azure;
    font-size: 130%;
}

.force-play-group{
    position: relative;
    width: auto;
    height: 25%;
    border-radius: 20px;
    border: none;
    color: azure;
    margin-top: 7.7%;
    margin-left: 78%;
    background: #64bf6d;
}

.force-play :hover {
    background: #00ff80;
}
