

.force-play {
    border: none;
    color: azure;
    font-size: 130%;
}

.force-play-group{
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 20px;
    border: none;
    color: azure;
    margin-top: 15%;
    margin-left: 78%;
    background: #64bf6d;
}

.force-play :hover {
    background: #00ff80;
}
